html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    background-color: #e9f0fd;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #ffffff;
}

.page-header {
    margin-bottom: 0px;
}

.page-navigation {
    padding: 36px 0;
}

.site-title {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 300;
}

.site-title:first-letter {
    color: #1abc9c;
}

/* SITE NAVIGATION */
.site-navigation {
    float: right;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    list-style: none;
}

.site-navigation-item {
    float: left;
}

.site-navigation-item:not(:last-child) {
    margin-right: 30px;
}

.site-navigation a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0101;
    text-decoration: none;
}

.site-navigation a:focus,
.site-navigation a:hover {
    color: #1abc9c;
}

/* BANNER */
.banner {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 601px;
    background-image: linear-gradient(rgba(0, 0, 2, 0.522), rgba(0, 0, 2, 0.522)), url(../img/slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

/* SLIDER */
.slider {
    position: relative;
    margin: 0 auto;
    margin-bottom: 96px;
    padding: 0;
    height: 601px;
}

.slider-ctrl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    display: inline-block;
    margin: 0;
    border: none;
    padding: 0;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171,0.651);
    cursor: pointer;
}

.slider-ctrl-prev {
    left: 0px;
    background-image: url(../img/icon/left.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slider-ctrl-next {
    right: 0px;
    background-image: url(../img/icon/right.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slides {
    margin: 0;
    padding: 0;
    list-style: none;

}

.slides-item {
    position: relative;
    height: 601px;
}

.slides-item p {
    position: absolute;
    left: 185px;
    margin: 0;
    padding: 0;
}

.slides-item-title {
    top: 208px;

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
}

.slides-item-descr {
    top: 284px;

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
}

/* NEW COLLECTION */

.collection-title{
    display: block;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
}

.collection-title::after {
    content: '';
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 28px;
}

.collection {
    margin-bottom: 100px;
}

/* COLLECTION LIST */

.collection-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collection-item {
    float: left;
    position: relative;
    width: 255px;
    height: 322px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.collection-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.collection-item-box {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 40px;
    background-color: #323232;
    overflow: hidden;
}

.collection-item-name {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;

    width: 187px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.collection-item-box-price {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 54px;
    height: 100%;
    background-color: rgba(255, 255, 255,0.439);
}

.collection-item-price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.collection-item-price::before {
    content: '$';
    font-family: 'Roboto', sans-serif;
    font-style: 18px;
    line-height: 34px;
    font-weight: 900;
    color: #ffffff;
}

.collection-item:hover .collection-item-box{
    background-color: #1abc9c;
}

/* SOCIALS */

.collection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: 282px;
    border: 10px solid rgba(255, 255, 255);
    background-color: rgba(0, 0, 0);
    opacity: 0;
}

.collection-item:hover .collection-overlay {
    opacity: 0.549;
}

.collection-item:hover .collection-list-socials {
    opacity: 1;
}

.collection-list-socials {
    position: absolute;
    top: 90px;
    left: 45px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}

.collection-list-socials li {
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
}

.collection-list-socials li:nth-last-child(-n+2) {
    margin-right: 0;
}

.collection-list-socials li:nth-last-child(1) {
    margin-bottom: 0;
}

.icon {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);

    background-repeat: no-repeat;
    background-position: center;
}

.icon-heart {
    background-image: url(../img/icon/heart.png);
}

.icon-arrows {
    background-image: url(../img/icon/arrows.png);
}

.icon-time {
    background-image: url(../img/icon/time.png);
}

.icon-cart {
    display: block;
    width: 166px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255);
    background-color: rgba(50, 50, 50);

    background-image: url(../img/icon/cart.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;

    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

.icon-cart-title {
    display: inline-block;
    margin-top: 8px;
    margin-left: 50px;
}

.collection-list-socials a:focus,
.collection-list-socials a:hover {
    border: 1px solid rgb(26, 188, 156);
    background-color: rgb(26, 188, 156);
}

/* FOOTER */
footer {
    background-color: rgb(50, 50, 50);
}

.page-footer p {
    text-align: center;
    color: #fefefe;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 auto;
    padding: 32px 0;
}

.page-footer span {
    color: #46bfa9;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}